<div class="page-width color-{{ section.settings.color_scheme.id }} pb-12">
  <section>
    {% comment %} Typography Settings {% endcomment %}

    <h2 class="h00 my-8">Typography</h2>
    <h2 class="h00">Heading Level 00</h2>
    <h2 class="h0">Heading Level 0</h2>
    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
    <h6>Heading Level 6</h6>
    <p class="pt-4 mt-4"> Body text : Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur perferendis, quo consequuntur iusto dolores fuga voluptas aliquid praesentium esse. Amet nihil facilis quae fugit nisi voluptatem repellendus a neque!</p>
    <p class="b-s border-t pt-4 mt-4">Body small: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur perferendis, quo consequuntur iusto dolores fuga voluptas aliquid praesentium esse. Amet nihil facilis quae fugit nisi voluptatem repellendus a neque!</p>
    <p class="b-xs border-t pt-4 mt-4">Body extra small : Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur perferendis, quo consequuntur iusto dolores fuga voluptas aliquid praesentium esse. Amet nihil facilis quae fugit nisi voluptatem repellendus a neque!</p>
    <a class="text-link b-s mt-8 inline-block px-2" href="https://primer.style/css/storybook/?path=/docs/support-typography--docs" target="_blank">typography ref ></a>
    
    {% comment %} Callout {% endcomment %}
    {% render 'callout', 
      heading: "Guide",
      content: "Edit <b>typography.liquid</b> to change the typography settings, make sure to apply the same to <b>tailwind.config.js</b>. More settings can be found in <b>theme.css</b>."
    %}
  </section>
  <section>
    {% comment %} Color Settings {% endcomment %}

    <h2 class="h00 my-8">Colors</h2>

     <!-- Base Colors -->
    <div class="grid grid-cols-4 gap-4 md:grid-cols-6 lg:grid-cols-8">
      <div class="b-xs">
        <div class="bg-background aspect-square border-2 border-black"></div>
        <div>// background</div>
      </div>
      <div class="b-xs">
        <div class="bg-foreground aspect-square border-2 border-black"></div>
        <div>// foreground</div>
      </div>
    </div>

    <!-- Button Colors -->
    <div class="grid grid-cols-4 gap-4 md:grid-cols-6 lg:grid-cols-8 mt-8">
      <div class="b-xs">
        <div class="bg-button aspect-square border-2 border-black"></div>
        <div class="mt-2">{{ settings.button_bg_color }}</div>
        <div>// button 1 bg</div>
      </div>
      <div class="b-xs">
        <div class="bg-button-text aspect-square border-2 border-black"></div>
        <div class="mt-2">{{ settings.button_text_color }}</div>
        <div>// button 1 label</div>
      </div>
      <div class="b-xs">
        <div class="bg-secondary-button aspect-square border-2 border-black"></div>
        <div class="mt-2">{{ settings.button_bg_color }}</div>
        <div>// button 2 bg</div>
      </div>
      <div class="b-xs">
        <div class="bg-secondary-button-text aspect-square border-2 border-black"></div>
        <div class="mt-2">{{ settings.button_text_color }}</div>
        <div>// button 2 label</div>
      </div>
    </div>

    <!-- Other Colors -->
    <div class="grid grid-cols-4 gap-4 md:grid-cols-6 lg:grid-cols-8 mt-8">
      <div class="b-xs">
        <div class="bg-shadow aspect-square border-2 border-black"></div>
        <div>// shadow</div>
      </div>
    </div>

    {% comment %} Callout {% endcomment %}
    {% render 'callout', 
      heading: "Guide",
      content: "3am uses the new color schema so section wise color can be changed using the customizer and new color schema can be added using the theme settings, to make make any changes to the schema edit the color_schemes in <b>settings_schema.json</b> and update the css variables at <b>colors.liquid</b> to change color settings, make sure to apply the same to <b>tailwind.config.js</b>."
    %}
  </section>
  <section>
    {% comment %} Component Settings {% endcomment %}

    <h2 class="h00 my-8">Components</h2>
    <div class="flex flex-wrap gap-4 items-center">
      <button class="button button--primary">Button</button>
      <button class="button button--primary" disabled>Disabled Button</button>
      <button class="button button--secondary">Button</button>
    </div>
    <div class="mt-4">
      <a class="text-link inline-block px-2" href="#">Link</a>
    </div>

    <details class="group/details mt-8" open>
      <summary class="flex justify-between items-center">
        <div class="h4">FAQ</div>
        <div>
          <span class="font-bold group-open/details:hidden">+</span>
          <span class="font-bold hidden group-open/details:block">-</span>
        </div>
      </summary>
      <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos culpa consectetur alias odit minima nisi natus pariatur vero, consequatur tempore error minus eum, labore nulla animi! Dolorem sit fuga ipsa.</p>
    </details>
    <details class="group/details mt-8">
      <summary class="flex justify-between items-center">
        <div class="h4">FAQ 2</div>
        <div>
          <span class="font-bold group-open/details:hidden">+</span>
          <span class="font-bold hidden group-open/details:block">-</span>
        </div>
      </summary>
      <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos culpa consectetur alias odit minima nisi natus pariatur vero, consequatur tempore error minus eum, labore nulla animi! Dolorem sit fuga ipsa.</p>
    </details>

    {% comment %} Callout {% endcomment %}
    {% render 'callout', 
      heading: "Guide",
      content: "Edit <b>base.tailwind.css</b> to add more component styles."
    %}
  </section>
  {% if section.settings.show_spotify_iframe %}
    <section class="border-t">
      <h2 class="h00 my-8">Bonus ✨</h2>
      <p class="font-normal underline underline-offset-[0.5rem] mt-4 mb-8">Music I listened to while I was coding this 🎵 :</p>
      {% render 'spotify' %}
    </section>
  {% endif %}
</div>

{% schema %}
{
  "name": "Hello World",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Additional Settings"
    },
    {
      "type": "checkbox",
      "id": "show_spotify_iframe",
      "label": "Show Music Recommendation",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Hello World"
    }
  ]
}
{% endschema %}
